@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-up {
    @apply opacity-0 translate-y-8 transition-all duration-700 ease-out;
  }

  .fade-up-show {
    @apply opacity-100 translate-y-0;
  }
}
html {
  scroll-behavior: smooth;
}
